.equipment-detail {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 800px; /* Adjust width as needed */
  margin: 0 auto;
}

.equipment-detail .table-and-buttons {
  display: flex;
  align-items: flex-start;
}

.equipment-detail table {
  margin-right: 20px;
}

.equipment-detail .rent-buttons {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.equipment-detail .rent-button {
  margin-bottom: 10px; /* adjust the space to align with table rows */
  /* rest of the button styling */
}


.equipment-detail h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}


thead {
  background-color: #0000FF; /* Changed to blue */
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  cursor: pointer; /* To indicate the headers are clickable for sorting */
  background-color: #4D6B97;
}

th:hover {
  background-color: #2b3b54; /* Hover effect for headers */
}

thead {
  background-color: #4D6B97;
  color: white;
  border-radius: 8px;
}


th:hover,
th .fa-sort:hover {
  background-color: #2b3b54; /* Darken header on hover */
}

tbody tr:hover {
  background-color: #e3e3e3; /* Darker shade on row hover for click indication */
  cursor: pointer;
}

/* This is to indicate that a row is clickable */
tbody tr {
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}







