/* Sell.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: white; /* Set the background color to white */
}
h1 {
    text-align: center;
    background-color: #fff;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  tr:hover {
    background-color: #fff;
  }
  
  input[type="file"] {
    display: inline-flex;
    margin: 10px 0;
    background-color: #fff;
  }
  
  button {
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .database-link-box {
    text-align: center;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .database-link-box h2 {
    margin-top: 0;
  }
  
  .database-link-box input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  